* {
  box-sizing: border-box;
}
body {
  background-color: #fef6f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}
h1 {
  color: #c87d52;
  font-size: 40px;
}
#pWelcome {
  color: #c87d52;
  font-weight: bold;
}
#imgCheeseCake {
  width: 500px;
  height: 300px;
}

/*Nav Styles*/
.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
}

.topnav .navItem {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .navItem:hover {
  background-color: #ddd;
  /* color: #ece6e6; */
  font-weight: 700;
}

.topnav .navItem.active {
  background-color: #04aa6d;
  color: white;
  font-weight: 900;
}

.topnav .iconBar {
  display: none;
}

@media screen and (max-width: 850px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.iconBar {
    float: right;
    display: block;
    color: #333;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .iconBar {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .text-block {
    display: none;
  }
}

/* @media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .iconBar {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
#logo {
  padding: 0;
  float: left;
  margin-right: 10px;
}
#imgLogo {
  width: 70px;
  height: 45px;
}
/* End of Nav Styles */

#wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner img {
  width: 100%;
  /* object-fit: contain; */
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.bannerWithText {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.parallax {
  /* The image used */
  background-image: url("images/banner.png");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Social Media */
footer a{
  font-size:25px;
  margin-right: 5px;
}

.facebook{
  margin-left: 80%;
}

footer a:hover {
  opacity: 0.7;
}
